---
---

@import "minima";

@font-face {
    font-family: "Inter";
    src: url('/assets/inter/Inter-VariableFont_slnt,wght.ttf');
}

body {
    font-family: "Inter";
}

.post-title {
    font-weight: 900;
    font-size: 2.5rem;
}

main.page-content .wrapper {
    font-size: 18px;
    max-width: 52ch;
}

h1 {
    font-weight: 700;
}

.post-content h2 {
    font-size: 18px;
    font-weight: 600;
}

strong {
    font-weight: 600;
}

.site-title {
    font-weight: 600;
    &::after {
        display: inline-block;
    }
}

.post-list li {
    border-left: 4px solid hotpink;
    padding-left: 1rem;
}

a.post-link {
    font-weight: 300;
}
